<section id="checkedout">
  <div class="media device-media" ng-repeat="item in user.checkedout">
    <div class="pull-left" style="width:200px;">
      <div class="responsive-container">
        <div class="dummy"></div>
        <div class="img-container">
          <div class="centerer"></div>
          <a ui-sref="device({id:item.device._id})">
          <img ng-src="{{item.device.image}}" class="img-rounded"></a>
        </div>
      </div>
    </div>
    <div class="media-body" style="height:200px;padding-left:20px;">
      <h4><a ui-sref="device({id:item._id})">{{item.device.name}}</a></h4>
      <p>by <i>{{item.device.brand}}</i></p>
      <p>Borrowed Date: {{item.borrowedDate | date: mediumDate}}</p>
      <p>Due Date: {{item.dueDate | date: mediumDate}} </p>
      <p ng-if="item.dueDate < today" class="text-danger"><b>This device is due, please return it now!</b></p>
      <!-- <button class="btn btn-primary">Return Now</button> -->
    </div>
  </div>
</section>