navbar {
  .navbar.navbar-inverse {
    margin-bottom: 0px;
    background-color: black;
    border-bottom: $dashed-border;

    a {
      //     cursor: pointer;
      // transition: color 0.2s;
      color: #aab2bd;

      &:hover {
        background: white;
        color: black;
      }
    }

    li > a {
      font-size: 16px;

      &.active {
        // background: white;
        // color: black;
        font-weight: bold;
      }

      &:focus {
        // background: white;
        // color: black;
        font-weight: bold;
      }
    }

    .nav.navbar-nav {
      margin-right: 20px;
    }
  }

  //   background: white;
  //   border-bottom: 1px solid black;
  //   box-shadow: 1px 1px 14px -3px black;

  //   .container {
  //     width: 91%;
  //     max-width: 1340px;
  //     padding-top: 20px;
  //   }

  logo {
    margin-top: -10px;
    margin-right: 10px;
    float: left;
    display: block;

    img {
      display: block;
      height: 40px;
      width: auto;
    }
  }

  //   .login-button {
  //     float: right;
  //     border: 1px solid black;
  //     margin-top: 10px;
  //     background: none;
  //     outline: none !important;
  //   }

  .welcome {
    float: right;
    margin-top: 15px;
    margin-left: 10px;

    // font-weight: bold;

    span {
      color: white;
    }

    a {
      color: white;
      cursor: pointer;
    }
  }
}