#about {
  // .responsive-container {
  //   position: relative;
  //   width: 50%;
  //   border: 1px solid black;
  // }

  // .dummy {
  //   padding-top: 100%;

  //   /* forces 1:1 aspect ratio
  // }

  // .img-container {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   text-align: center;

  //   /* Align center inline elements
  //   font: 0/0 a;
  // }

  // .img-container .centerer {
  //   display: inline-block;
  //   vertical-align: middle;
  //   height: 100%;
  // }

  // .img-container img {
  //   vertical-align: middle;
  //   display: inline-block;
  //   max-height: 100%;

  //   /* <-- Set maximum height to 100% of its parent
  //   max-width: 100%;

  //   /* <-- Set maximum width to 100% of its parent
  // }

  margin: 0 auto;
  width: 90%;

  @include clearfix;

  p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;

    .carousel-inner {
      height: 500px !important;
    }

    .carousel-control {
      background: none;
    }

    .carousel-indicators {
      display: none;
    }

    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }
}